.App {
  position: relative;
  text-align: center;
  padding: 5rem 8rem 2rem 8rem;
}

.App li {
  list-style-type: none;
}

.App a {
  text-decoration: none;
}

h1 {
  font-family: var(--main-font);
  font-size: 3.5em;
  margin: 0 auto 2rem auto;
}

.search-results-ul,
.cinemas-showing-film,
.screening-times {
  display: flex;
  flex-wrap: wrap;
}

::placeholder {
  font-style: italic;
}

::-webkit-scrollbar {
  width: 1.2em;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-primary-color);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, var(--scrollbar-primary-color) 1%, var(--scrollbar-secondary-color) 100%);
}

/******************SPINNER CSS*******************/

.loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border: 2px solid var(--body-bg-color);
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.loader:before {
  width: 50%;
  height: 50%;
  background: #ffffff;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}

.loader:after {
  background: var(--body-bg-color);
  width: 75%;
  /* height: 75%; */
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/**************************** KEYFRAMES ****************************/

@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/**************************** MEDIA QUERIES ****************************/

@media (max-width: 600px) {
  .App {
    padding: 2.5rem 0 2rem 0;
  }

  h1 {
    margin-right: auto;
    margin-bottom: 3rem;
    font-size: 3rem;
  }
}