.App {
  position: relative;
  text-align: center;
  padding: 5rem 8rem 2rem 8rem;
}

.App li {
  list-style-type: none;
}

.App a {
  text-decoration: none;
}

h1 {
  font-family: var(--main-font);
  font-size: 3.5rem;
  margin-bottom: 2rem;
}

.search-results-ul,
.cinemas-showing-film,
.screening-times {
  display: flex;
  flex-wrap: wrap;
}

::-webkit-scrollbar {
  width: 1.2em;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-primary-color);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, var(--scrollbar-primary-color) 1%, var(--scrollbar-secondary-color) 100%);
}