* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  user-select: none;
  font-family: 'main-font', sans-serif;
  background-color: rgb(225, 195, 228);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}