:root {
  /* general colors */
  --black: rgb(0, 0, 0);
  --body-bg-color: rgb(169, 102, 255);
  --scrollbar-primary-color: var(--black);
  --scrollbar-secondary-color: rgb(230, 230, 230);
  --spinner-primary-color: rgb(255, 255, 255);
  --spinner-secondary-color: rgba(255, 255, 255, 0);
  --h1-text-color: rgb(41, 41, 41);

  /* header colors */
  --right-header-text-color: rgb(29, 29, 29);
  --watchlist-number-text-color: rgb(66, 66, 66);
  --watchlist-number-bg-color: rgb(245, 197, 24);

  /* search section colors */
  --search-button-bg-color: rgb(32, 32, 32);
  --search-button-text-color: rgb(255, 255, 255);

  /* search results section colors */
  --movie-container-bg-color: rgb(32, 32, 32);
  --movie-container-box-shadow-color: rgb(245, 245, 245);
  --movie-title-text-color: rgb(255, 255, 255);
  --result-type-text-color: rgb(255, 255, 255);
  --release-year-text-color: rgb(245, 222, 179);
  --release-year-bg-color: var(--black);

  /* movie details section colors */
  --h2-text-color: rgb(245, 245, 245);
  --h3-text-color: rgb(245, 245, 245);
  --movie-details-container-bg-color: rgb(24, 24, 24);
  --movie-details-left-border-color: rgb(218, 218, 218);
  --movie-details-right-bg-color: none;
  --movie-details-right-p-color: rgb(255, 255, 255);
  --movie-details-right-a-text-color: var(--black);
  --movie-details-right-a-bg-color: rgb(245, 197, 24);
  --movie-details-right-button-bg-color: rgb(230, 230, 230);
  --movie-details-right-button-text-color: rgb(0, 0, 0);
  --movie-details-right-button-border-color: rgb(221, 221, 221);
  --movie-details-border-bottom-color: rgb(92, 92, 92);
  --x-button-border-color: rgb(49, 49, 49);
  --x-button-bg-color: rgba(230, 230, 230, 0.9);
  --showtimes-button-bg-color: rgb(223, 223, 223);
  --showtimes-button-text-color: rgb(22, 22, 22);
  --no-screenings-text-color: rgb(255, 255, 255);

  /* fonts */
  --main-font: "PP-Editorial-New-Regular", sans-serif;
  --secondary-font: "PolySans", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  user-select: none;
  font-family: var(--main-font);
  background-color: var(--body-bg-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "PP-Editorial-New-Regular";
  src: url("./assets/fonts/PPEditorialNew-Regular.otf");
}

/* @font-face {
  font-family: "PolySans";
  src: url("./assets/fonts/PPNeueMontreal-Book.otf");
} */