.header-section {
    position: sticky;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 5em;
    margin-bottom: 1rem;
    /* glassmorphism */
    background: none;
    border-radius: 3px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.right-header {
    display: flex;
    gap: 3rem;
    font-size: 1.5em;
    margin-right: 2em;
    color: var(--right-header-text-color);
}

.watchlist, .login {
    color: var(--h1-text-color);
    font-size: 1.12em;
}

.watchlist {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 0.4em;
}

.watchlist-number {
    background-color: var(--watchlist-number-bg-color);
    font-size: 0.7em;
    padding: 0.2rem 1rem;
    border-radius: 30px;
    border: none;
    color: var(--watchlist-number-text-color);
    font-weight: bold;
}