h2, h3, h4 {
    color: var(--h2-text-color);
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.5rem;
}

/* .movie-details-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: absolute;
    z-index: 3;
    margin-left: auto;
    margin-right: auto;
    top: 17rem;
    left: 0;
    right: 0;
    text-align: center;
    height: 40rem;
    width: 50%;
    min-width: 25rem;
    background-color: var(--movie-details-container-bg-color);
    overflow-y: auto;
    padding: 0 1rem 2rem 5rem;
    opacity: 1;
    transition: height 1.1s, padding 1s, opacity 1s;
} */

.movie-details-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: fixed;
    z-index: 3;
    margin-left: -100px;
    margin-top: -100px;
    margin-right: auto;
    top: 38%;
    left: 30%;
    height: 40rem;
    width: 50%;
    min-width: 25rem;
    background-color: var(--movie-details-container-bg-color);
    overflow-y: auto;
    padding: 0 1rem 2rem 5rem;
    opacity: 1;
    transition: height 1.1s, padding 1s, opacity 1s;
}

.x-button {
    height: 3em;
    width: 3em;
    align-self: flex-end;
    margin: 1.5em 0 0 0;
    padding: 0.6em;
    border-radius: 45%;
    border: 1px solid var(--x-button-border-color);
    background-color: var(--x-button-bg-color);
}

.x-button img {
    width: 100%;
    height: 100%;
}

.movie-details {
    display: flex;
    width: 95%;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 2px solid var(--body-bg-color);
}

.movie-details-left, .movie-details-right {
    height: 25em;
}

.movie-details-left {
    width: 40%;
    border: 2px solid var(--movie-details-left-border-color);
}

.movie-details-left img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.movie-details-right {
    padding: 1rem 2rem 0 2rem;
    width: 60%;
    background-color: var(--movie-details-right-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;
}

.movie-details-right p {
    color: var(--movie-details-right-p-color);
    text-align: left;
    line-height: 1.5rem;
    font-size: 1.1em;
}

.trailer-and-watchlist {
    margin-top: auto;
    display: flex;
    gap: 1rem;
}

.trailer-and-watchlist a, .trailer-and-watchlist button {
    padding: 0.7rem 3rem;
    font-size: 1.1em;
}

.trailer-and-watchlist a {
    background-color: var(--movie-details-right-a-bg-color);
    color: var(--movie-details-right-a-text-color);
}

.trailer-and-watchlist button {
    font-family: var(--main-font);
    border: none;
    background-color: var(--movie-details-right-button-bg-color);
}

.cinemas-showing-film {
    margin: 2rem auto 0 auto;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.individual-cinema {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.screening-times {
    justify-content: center;
    gap: 1rem;
}

.showtimes-button {
    padding: 0.8rem 1.6rem;
    background-color: var(--showtimes-button-bg-color);
    color: var(--showtimes-button-text-color);
    font-size: 1rem;
    border: none;
}

.no-screenings {
    color: var(--no-screenings-text-color);
    margin-bottom: 5rem;
    font-size: 1.1em;
}