h2,
h3 {
    color: var(--h2-text-color);
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.5rem;
}

.movie-details-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: absolute;
    z-index: 3;
    margin-left: auto;
    margin-right: auto;
    top: 17rem;
    left: 0;
    right: 0;
    text-align: center;
    height: 40rem;
    width: 50%;
    min-width: 25rem;
    background-color: var(--movie-details-container-bg-color);
    overflow-y: auto;
    padding: 0 1rem 2rem 5rem;
    transition: height 0.9s, width 1s;
}

.x-button {
    height: 3em;
    width: 3em;
    align-self: flex-end;
    margin: 0.5em 0.5em 0 0;
    padding: 0.6em;
    border-radius: 45%;
    border: 1px solid var(--x-button-border-color);
    background-color: var(--x-button-bg-color);
}

.x-button img {
    width: 100%;
    height: 100%;
}

.cinemas-showing-film {
    margin: 2rem auto 0 auto;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.individual-cinema {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.screening-times {
    gap: 1rem;
}

.showtimes-button {
    padding: 0.8rem 1.6rem;
    background-color: var(--showtimes-button-bg-color);
    color: var(--showtimes-button-text-color);
    font-size: 1rem;
    border: none;
}